@import 'tailwindcss';

@theme {
  /* exemple utilisation bg-fraction-light-100  */

  /* Fraction Light (#F5F5F5) */
  --color-fraction-light-50: #ffffff;
  --color-fraction-light-100: #fafafa;
  --color-fraction-light-200: #f5f5f5; /* Base */
  --color-fraction-light-300: #e5e5e5;
  --color-fraction-light-400: #d4d4d4;
  --color-fraction-light-500: #a3a3a3;
  --color-fraction-light-600: #737373;
  --color-fraction-light-700: #525252;
  --color-fraction-light-800: #404040;
  --color-fraction-light-900: #262626;

  /* Fraction Violet (#3A3178) */
  --color-fraction-violet-50: #f0eefa;
  --color-fraction-violet-100: #dad6f3;
  --color-fraction-violet-200: #b5ade7;
  --color-fraction-violet-300: #8f84db;
  --color-fraction-violet-400: #6a5ccf;
  --color-fraction-violet-500: #3a3178; /* Base */
  --color-fraction-violet-600: #322a66;
  --color-fraction-violet-700: #2a2354;
  --color-fraction-violet-800: #211c42;
  --color-fraction-violet-900: #191530;

  /* Fraction Gray (#A29797) */
  --color-fraction-gray-50: #f7f6f6;
  --color-fraction-gray-100: #ece9e9;
  --color-fraction-gray-200: #d9d3d3;
  --color-fraction-gray-300: #c6bdbd;
  --color-fraction-gray-400: #b3a7a7;
  --color-fraction-gray-500: #a29797; /* Base */
  --color-fraction-gray-600: #857979;
  --color-fraction-gray-700: #695c5c;
  --color-fraction-gray-800: #4d3f3f;
  --color-fraction-gray-900: #322424;

  /* Fraction Lilac (#A770C1) */
  --color-fraction-lilac-50: #f8f2fb;
  --color-fraction-lilac-100: #eedff6;
  --color-fraction-lilac-200: #dbbff0;
  --color-fraction-lilac-300: #c79fe9;
  --color-fraction-lilac-400: #b47fe3;
  --color-fraction-lilac-500: #a770c1; /* Base */
  --color-fraction-lilac-600: #8c5ba3;
  --color-fraction-lilac-700: #704685;
  --color-fraction-lilac-800: #543267;
  --color-fraction-lilac-900: #382049;

  /* Fraction Pink (#FF99A5) */
  --color-fraction-pink-50: #fff5f6;
  --color-fraction-pink-100: #ffe0e3;
  --color-fraction-pink-200: #ffc2c9;
  --color-fraction-pink-300: #ffa3af;
  --color-fraction-pink-400: #ff8596;
  --color-fraction-pink-500: #ff99a5; /* Base */
  --color-fraction-pink-600: #db7683;
  --color-fraction-pink-700: #b75462;
  --color-fraction-pink-800: #933142;
  --color-fraction-pink-900: #6f0f21;

  /* Fraction Dark (#201A46) */
  --color-fraction-dark-50: #f1f0f8;
  --color-fraction-dark-100: #d9d7ee;
  --color-fraction-dark-200: #b3afdd;
  --color-fraction-dark-300: #8d86cc;
  --color-fraction-dark-400: #665ebb;
  --color-fraction-dark-500: #201a46; /* Base */
  --color-fraction-dark-600: #1b163b;
  --color-fraction-dark-700: #161130;
  --color-fraction-dark-800: #100d25;
  --color-fraction-dark-900: #0b081a;

  --color-fraction-light-blue: #9399ff;
  --color-fraction-light-viloet: #837abc;
}
